* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    width: 79px;
    height: 29px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-login {
    width: 130px;
    height: 41px;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display:inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    text-transform: capitalize;
}

p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-top: 32px;
}

.button-explore {
    width: 239px;
    height: 64px;
    margin-top: 65px;
    background: #ADFF00;
    border-radius: 20.5px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    cursor: pointer;
}



@media screen and (max-width: 900px) {
    header {
        display: none;
    }

    .img-logo {
        width: 90%;
        height: 40%;
        display: block;
        margin-top: 149px;
        margin-left: 14px;
    }

    .container-section {
        
        margin-left: 40px;
    }
    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        margin-top: 24px; 
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin-top: 7px;
        text-align: center;
    }

    p {
        display:none;
    }

    .button-explore {
        width: 239px;
        height: 64px;
        margin-top: 17px;
    }
}

